.modal--container {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 300px;
  height: 520px;
  margin-left: 400px;
  margin-top: 201px;
}

.cookiesContent {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  text-align: center;
  border-radius: 20px;
  padding: 30px 30px 70px;
  opacity: 0.8;
  margin-left: -10px;
}
.cookiesContent button.close {
  width: 30px;
  font-size: 20px;
  color: #c0c5cb;
  align-self: flex-end;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
}
.cookiesContent img {
  width: 160px;
  margin-bottom: 15px;
}
.cookiesContent p {
  margin-bottom: 40px;
  font-size: 18px;
}
.cookiesContent button.accept {
  background-color: #ed6755;
  border: none;
  border-radius: 5px;
  width: 200px;
  padding: 14px;
  font-size: 16px;
  color: white;
  box-shadow: 0px 6px 18px -5px #ed6755;
}

.modal--hide {
  visibility: hidden;
}
